<div class="signup">

    <div ng-if="!signUpCtrl.saved"><h2>Lets Get You Signed Up!</h2></div>
    <div class="signup-left">
      <div class="signup-innerwhitebox">
        <fieldset>
          <legend></legend> 
  
            <form name="signupForm" novalidate>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text"
                          class="form-control"
                          id="firstName"
                          name="firstName"
                          placeholder="First Name"
                          ng-model="signupCtrl.userInfo.firstName"
                          required>
                    <span ng-if="signupForm.firstName.$error.required && signupForm.firstName.$touched">
                        <small>First name is required</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text"
                          class="form-control"
                          id="lastName"
                          name="lastName"
                          placeholder="Last Name"
                          ng-model="signupCtrl.userInfo.lastName"
                          required>
                    <span ng-if="signupForm.lastName.$error.required && signupForm.lastName.$touched">
                        <small>Last name is required</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input type="email"
                          class="form-control"
                          id="emailAddress"
                          name="emailAddress"
                          placeholder="Email"
                          ng-model="signupCtrl.userInfo.emailAddress"
                          required>
                    <span ng-if="signupForm.emailAddress.$invalid && signupForm.emailAddress.$touched">
                        <small>Must be a valid email address: handle@domain format</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone</label>
                    <input type="tel"
                          class="form-control"
                          id="phoneNumber"
                          name="phoneNumber"
                          ng-model="signupCtrl.userInfo.phoneNumber"
                          placeholder="Phone ###-###-####"
                          pattern="(\d{3})-(\d{3})-(\d{4})">
                    <span ng-if="signupForm.phoneNumber.$invalid && signupForm.phoneNumber.$touched">
                        <small>Phone must be in the format ###-###-####</small>
                    </span>
                </div>
                <div class="form-group">
                    <label for="favoriteDish">Favorite Dish</label>
                    <input type="text"
                          class="form-control"
                          id="favoriteDish"
                          name="favoriteDish"
                          placeholder="Short Code of Your Favorite Dish"
                          ng-model="signupCtrl.userInfo.favoriteDish"
                          ng-blur="signupCtrl.validateFavdish()">
                    <span ng-if="signupCtrl.itemSearched && !signupCtrl.validShortCode">
                        <small>No such menu number exists</small>
                    </span>
  
  
                </div>
                <button class="btn btn-success"
                        ng-disabled="signupForm.$invalid"
                        ng-click="signupCtrl.setMyinfo()">Submit</button>
            </form>
        </fieldset>
      </div>
    </div>  <!-- signup-left -->
  
    <div class="signup-right">
      <!-- Search Results Box -->
      <!-- <div id="search-results" class="panel panel-default" ng-if="signupCtrl.validShortCode"> -->
      <div class="signup-innerwhitebox">
            <div class="signup-searchresults" ng-if="signupCtrl.validShortCode">
              <menu-item menu-item="signupCtrl.userInfo.MenuItem"></menu-item>
            </div>
          </div>
      </div>
    </div>  <!-- signup-right -->
  
    <div class="signup-savemessage" ng-if="signupCtrl.saved">
        <p class="alert alert-success">Your information has been saved!</p>
    </div>
  </div>