<h2 id="menu-categories-title" class="text-center">My Info</h2>


<div class="myinfo" ng-if="myInfoCtrl.saved">
  <div class="myinfo-me">
    <dl class="dl-horizontal">
      <dt>First Name:</dt> <dd>{{myInfoCtrl.userInfo.firstName}}</dd>
      <dt>Last Name:</dt> <dd>{{myInfoCtrl.userInfo.lastName}}</dd>
      <dt>Email:</dt> <dd>{{myInfoCtrl.userInfo.emailAddress}}</dd>
      <dt>Phone:</dt> <dd>{{myInfoCtrl.userInfo.phoneNumber}}</dd>
      <dt>Favorite Dish:</dt> <dd>{{myInfoCtrl.userInfo.favoriteDish}}</dd>
    </dl>
  </div>
  <div class="myinfo-dish">
    <menu-item menu-item="myInfoCtrl.userInfo.MenuItem"></menu-item>
  </div>
</div>

<div class="myinfo-alert">
  <div class="alert alert-warning" ng-if="!myInfoCtrl.saved">
      <h2>Not Signed Up Yet.</h2>
      <button type="button" ui-sref="public.signup" class="btn btn-primary">Sign up Now!</button>
  </div>
</div>